<style>
        #chat {
    height: 200px;
    overflow-y: auto;
    display: flex;
    flex-direction: column; 
}

#main-chat {
    position: absolute;
    bottom: 0px;
}


#message-input {
    margin-top: auto;
}

</style>

<div class="container-fluid text-center bg-image-map">
    <div class="d-flex justify-content-center">
        <div class="position-absolute" style="top: 10%; left: 20%;">
        <a href="./room1.hbs">
            <img src="https://w7.pngwing.com/pngs/654/834/png-transparent-framing-architectural-engineering-building-project-house-building-building-framing-material-thumbnail.png" alt="Уровень 1" style="width: 100px; height: 100px;">
        </a>
        <div style="text-align: center; color: black;">Уровень 1</div>
    </div>

    <div class="position-absolute" style="top: 50%; left: 40%;">
        <a href="/level2">
            <img src="https://w7.pngwing.com/pngs/654/834/png-transparent-framing-architectural-engineering-building-project-house-building-building-framing-material-thumbnail.png" alt="Уровень 2" style="width: 100px; height: 100px;">
        </a>
        <div style="text-align: center; color: black;">Уровень 2</div>
    </div>

    <div class="position-absolute" style="top: 70%; right: 30%;">
        <a href="/level3">
            <img src="https://w7.pngwing.com/pngs/654/834/png-transparent-framing-architectural-engineering-building-project-house-building-building-framing-material-thumbnail.png" alt="Уровень 3" style="width: 100px; height: 100px;">
        </a>
        <div style="text-align: center; color: black;">Уровень 3</div>
    </div>
    </div>
    <img src="https://upload.wikimedia.org/wikipedia/ru/f/f6/Kirby_FL.png" alt="Moving Image" id="movingImage" style="position: absolute; width: 50px; height: 50px; left: 0; top: 0;">

</div>
<div class="col-4 bg-white d-flex flex-column" id="main-chat">
    <div id="chat" class="border p-3">
        <div id="chat-messages" class="mb-3"></div>
    </div>
    <input type="text" id="message-input" class="form-control mb-2" placeholder="Введите ваше сообщение">
    <button id="send-message" class="btn btn-primary mb-2">Отправить</button>
</div>
            


    
<script>
// чат
// На странице чата
const socket = io();

document.addEventListener("DOMContentLoaded", function () {
    const messageInput = document.getElementById("message-input");
    const sendMessageButton = document.getElementById("send-message");
    const chatMessages = document.getElementById("chat-messages");

    // Получаем никнейм из параметров URL
    const urlSearchParams = new URLSearchParams(window.location.search);
    const nickname = urlSearchParams.get("nickname");

    sendMessageButton.addEventListener("click", function () {
        const message = messageInput.value;
        if (message.trim() !== "") {
            // Отправляем сообщение и никнейм
            socket.emit("sendMessage", { message, nickname });
            messageInput.value = "";
        }
    });

    socket.on("receiveMessage", function (data) {
        const { nickname, message } = data;
        const messageElement = document.createElement("div");
        messageElement.textContent = `${nickname}: ${message}`;
        chatMessages.appendChild(messageElement);
    });
});



// остальное

document.addEventListener('DOMContentLoaded', () => {
    const movingImage = document.getElementById('movingImage');
    let posX = 0;
    let posY = 0;
    const step = 10; // Шаг перемещения в пикселях

    document.addEventListener('keydown', (event) => {
        switch (event.key) {
            case 'ArrowUp':
                posY -= step;
                break;
            case 'ArrowDown':
                posY += step;
                break;
            case 'ArrowLeft':
                posX -= step;
                break;
            case 'ArrowRight':
                posX += step;
                break;
        }

        movingImage.style.left = `${posX}px`;
        movingImage.style.top = `${posY}px`;

        checkOverlap(posX, posY);
    });
});

function checkOverlap(x, y) {
    const links = document.querySelectorAll('.container-fluid a');
    links.forEach(link => {
        const rect = link.getBoundingClientRect();
        if (x >= rect.left && x <= rect.right && y >= rect.top && y <= rect.bottom) {
            window.location.href = link.href;
        }
    });
}
</script>