
    <div id="pokerTable" class="poker-table">
        <!-- Место для карт на столе -->
<div id="tableCards"></div>
        <!-- Место для карт игрока -->
<div id="playerHand"></div>



        <div id="playerChips" class="player-chips">Фишки: 1000</div>
<div class="button-container">
    <input type="number" id="betAmount" placeholder="Ставка"/>
    <div class="button-row">
        <button id="callButton">Call</button>
        <button id="raiseButton">Raise</button>
        <button id="foldButton">Fold</button>
        <button id="checkButton" style="display: none;">Check</button>
    </div>
</div> 
        <div id="totalPot">Общий банк: 0</div>
        <!-- Другие элементы игры -->
</div>

