<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Покерный клуб</title>  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> 
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <style>
        .bg-image-main {
            background: url('https://img.goodfon.ru/wallpaper/big/2/8b/karty-poker-fishki.jpg') no-repeat center center;
            background-size: cover; 
        } 
        .bg-image-map {
            position: fixed; /* Фиксированное позиционирование */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1; /* Расположить блок под другими элементами */
            background: url('/photo/map.png') no-repeat center center;
            background-size: cover; 
        }


.poker-table {
    position: relative;
    height: 100vh;
}

#playerHand {
    position: absolute;
    bottom: 20%; /* Подогнать положение */
    left: 50%;
    transform: translateX(-50%);
    display: flex; /* Расположить карты в ряд */
}

#tableCards {
    position: absolute;
    bottom: 52%; /* Поднять карты выше надписи "Общий банк" */
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex; /* Расположить карты в ряд */
}
.player-chips {
    /* Общие стили для элементов */
}

.button-container {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column; /* Элементы располагаются вертикально */
}

#betAmount {
    margin-bottom: 10px; /* Отступ между полем ввода и кнопками */
}

.button-row {
    display: flex; /* Кнопки в строку */
}

.button-row button {
    margin-left: 5px; /* Отступы между кнопками */
}

/* Первой кнопке отступ не нужен */
.button-row button:first-child {
    margin-left: 0;
}

#callButton { bottom: 10px; }
#raiseButton { bottom: 60px; }
#foldButton { bottom: 110px; }
#checkButton { bottom: 160px; }

/* Фишки игрока ниже центра экрана */
#playerChips {
    position: absolute;
    left: 50%;
    bottom: 30%;
    transform: translateX(-50%);
}

/* Общий банк по центру экрана */
#totalPot {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

    </style>
    
</head>
<body>
    {{{body}}} 
    
    <script>    
    const socket = io();

    socket.on("connect", () => {
    console.log("index.hbs connect");
    
    
    // socket.emit("channel", ...data); инфа конкретному челу
    // io.emit("channel", ...data); инфа всем на серве
    // socket.broadcast.emit("channel", ...data); инфа всем кроме одного чела

})

socket.on("disconnect", (reason) => {})
  
</script>
</body>
</html>