<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Покерный клуб</title>  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> 

    <style>
        .bg-image-main {
            background: url('https://img.goodfon.ru/wallpaper/big/2/8b/karty-poker-fishki.jpg') no-repeat center center;
            background-size: cover; 
        } 
        .bg-image-map {
            position: fixed; /* Фиксированное позиционирование */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1; /* Расположить блок под другими элементами */
            background: url('https://static.kinguin.net/cdn-cgi/image/w=750,q=80,fit=scale-down,f=auto/media/category/4/-/4-1024_2414.jpg') no-repeat center center;
            background-size: cover; 
        }
    </style>
</head>
<body>
    {{{body}}} 
</body>
</html>