
<div class="main">
    {{#if mainPage}}
        {{> nickname}}
    {{/if}}
    {{#if room1Page}}
        {{> room1 }}
    {{/if}}
    {{#if mapPage}}
        {{> map }}
    {{/if}} 
    {{#if room2Page}}
        {{> room2 }}
    {{/if}}
</div>

