<div class="hide">
<a href="/map">далее</a>
</div>

<div class="main">
    {{#if room1Page}}
        {{> room1 }}
    {{/if}}
    {{#if mapPage}}
        {{> map }}
    {{/if}}

    {{#if room2Page}}
        {{> room2 }}
    {{/if}}
</div>